.postWrapper {
  padding: 30px 50px 45px;

  h3 {
    text-transform: uppercase;
  }

  textarea {
    width: 100%;
  }

  button {
    display: flex;
    align-items: flex-end;
  }

  .posts {

    .item {

      img {
        width: 70px;
      }
    }
  }
}